#front-cover {
    text-align: center;
    justify-content: center;
}

#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
}

.dropdown {
    text-align: left;
}

.book-title-author {
    font-size: 2rem;
}

.foot-notes {
    font-size: 1rem;
    font-weight: lighter;
}

.content-input {
  color: black;
  /* font-weight: 200; */
  font-size: 18px;
  border-radius: 5px;
  line-height: normal;
  background-color: transparent;
  border: 2px solid black;
  transition: all 0.3s;
  padding: 5px;
  margin-bottom: 15px;
  width: 80%;
  box-sizing: border-box;
  outline: 0;
  height: 200px;
  vertical-align: top;
}

#new-title {
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 13px;
}

#new-author {
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 13px;
}

#ratings {
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
}

#date {
    border: 2px solid black;
    padding: 10px;
}

#isbn {
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
}

#submit-button {
  width: 80%;
  background: #3586ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: 4px;
  font-weight: 700;
}

.input {
    /* display: flex; */
    width: 60%;
    justify-content: center;
    align-items: center;
    
}

.input p {
    padding-top: 20px;
}